/* Global styles */

* {
  box-sizing: border-box;
}

html,
body,
body > div {
    min-height: 100vh;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    margin: 0;
    color: var(--text-white);
    background-color: var(--main-bg);
}

/*App styling*/

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  /* border: 1px solid red; */
  width: 90%;
  max-width: 400px;
  aspect-ratio: 1/1.9;
  /* height: 60%; */
}
.display {
  height: 90px;
  margin: auto;
  margin-top: .8em;
  margin-bottom: 0;
  border-radius: 10px;
  background-color: var(--screen-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6%;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  overflow: hidden scroll;
}
.display p {
  overflow: scroll hidden;
  scroll-snap-align: start;
  margin: 0;
}
.buttons {
  /* height: 75%; */
  padding: 1em;
  margin: auto;
  margin-top: 1.8em;
  display: grid;
  gap: .8em;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-areas: 
    "seven eight nine delete"
    "four five six add"
    "one two three subtract"
    "decimal zero divide multiply"
    "clear clear equals equals";
  background-color: var(--secondary-bg);
  border-radius: 10px;
}
.buttons > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-size: 2rem;
  border-radius: 5px;
  background-color: var(--key3-bg);
  color: var(--text-dark);
  box-shadow: 0px 3px 0px 0px var(--key3-shadow);
  aspect-ratio: 1/1;
  cursor: pointer;
}
.clear {
  background-color: var(--key1-bg) !important;
  box-shadow: 0px 3px 0px 0px var(--key1-shadow) !important;
  grid-area: clear;
  color: white !important;
  font-size: 1.2rem !important;
  aspect-ratio: unset !important;
}
.del {
  background-color: var(--key1-bg) !important;
  box-shadow: 0px 3px 0px 0px var(--key1-shadow) !important;
  grid-area: delete;
  color: white !important;
  font-size: 1.2rem !important;
}
.equals {
  background-color: var(--key2-bg) !important;
  box-shadow: 0px 3px 0px 0px var(--key2-shadow) !important;
  grid-area: equals;
  color: white !important;
  font-size: 1.2rem !important;
  aspect-ratio: 2.2/1 !important;
}
.divide {
  grid-area: divide;
}
.multiply {
  grid-area: multiply;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.subtract {
  grid-area: subtract;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.add {
  grid-area: add;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.zero {
  grid-area: zero;
}
.decimal {
  grid-area: decimal;
}

/*Footer styling*/

.footer {
  color: var(--key2-bg);
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.footer > i {
  color: var(--text-white);
}
.footer > a {
  text-decoration: none !important;
  color: var(--text-white);
}